@page "/findBikesJS"
<div class="row">
    <div class="col-md-4">
        <h4>
            Example for calling a JS function returning void:
        </h4>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-info" @onclick="ReadData">Read Data From Json File</button>
    </div>
   
</div>