@page "/jsinterop"

<h1>JavaScript Interop Demo</h1>

<hr />

<body>
<div class="row">
<button class="button-64" role="button" @onclick="ReadData">
    <span class="text"> Generate Grid</span>
</button>
</div>
</body>
